
:root{
    --white:#FFFFFF;
    --dark-blue:#13183f;
    --gray:#83869a;
    --reddish:#f74780;
    --pinkish:#ffa7c3;
    --orange-violet-gradient:linear-gradient(#F02AA6-#FF6F48);

}
body,html{
    margin: 0;
    padding: 0;
    
    
    font-family: Plus Jakarta Sans;
    color: var();
    
   
}





*{
    box-sizing: border-box;
    
}


